.checkmark {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border-radius: 6px;
	outline: 1px solid var(--primary-header);
	background-color: var(--secondary-background);
	* {
		opacity: 0;
		transition: opacity 50ms;
	}

	transition: background-color 100ms;

	&[aria-checked='true'] {
		background-color: var(--accent);

		* {
			opacity: 1;
		}
	}
}
