.channelItem {
	margin-right: 16px;
	gap: 8px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	display: flex;
	align-items: center;
	transition: background-color 150ms, outline 150ms;
	min-height: 32px;
	color: inherit;

	img,
	svg {
		width: 24px;
		height: 24px;
	}

	&:hover,
	&:focus {
		background-color: var(--hover);
	}

	&[data-selected='true'] {
		background-color: var(--selected);
	}

	* {
		color: var(--tertiary-foreground);
	}

	&[data-selected='true'],
	&:hover,
	&:focus {
		* {
			color: var(--foreground);
		}
	}

	&::before {
		content: ' ';
		position: relative;
		left: 0;
		width: 4px;
		height: 0px;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		background-color: var(--accent);
		transition: height 150ms;
	}

	&[data-unread='true']::before {
		height: 4px;
	}

	&:hover::before,
	&:focus::before {
		height: 10px;
	}

	&[data-selected='true']::before {
		height: 16px;
	}
}
