.userAvatar {
	position: relative;

	.presenceIcon {
		position: absolute;
		background-color: var(--presence-color);
		top: 65%;
		left: 70%;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		border: 2px solid black;
	}
}
