.replyContainer {
	display: flex;
	align-items: center;
	background-color: var(--secondary-background);
	max-height: 24px;
	padding: 4px;
	padding-left: 24px;
	gap: 8px;
	border-top-right-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius);
	font-size: 0.8em;

	img {
		width: 16px;
		height: 16px;
	}

	.messageContent {
		color: var(--tertiary-foreground);
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.replyButton {
		cursor: pointer;
		display: flex;
		gap: 4px;
		align-items: center;
		color: var(--tertiary-foreground);
		transition: color 150ms;
		user-select: none;

		&:hover {
			color: var(--foreground);
		}
	}
}
