.fileAttachment {
	background-color: var(--secondary-background);
	display: flex;
	gap: 8px;
	padding: 8px;
	border-radius: 6px;
	font-size: 0.8rem;
	overflow: hidden;

	.metadata {
		display: flex;
		flex-direction: column;

		.fileSize {
			font-size: 0.8em;
			color: var(--secondary-foreground);
		}
	}

	.iconButton {
		opacity: 0.5;
	}
}
