.checkboxSettingBase {
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: background-color 150ms;
	padding: 8px;
	border-radius: 6px;

	.title {
		font-size: 0.9375rem;
		font-weight: 600;
		overflow: hidden;
		user-select: none;
	}

	.description {
		font-size: 0.75rem;
		font-weight: 500;
		color: var(--secondary-foreground);
		overflow: hidden;
		user-select: none;
	}

	&:hover {
		background-color: var(--secondary-background);
	}

	input {
		display: none;
	}

	.checkmark {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		border-radius: 6px;
		outline: 1px solid var(--primary-header);
		background-color: var(--secondary-background);
		* {
			opacity: 0;
			transition: opacity 50ms;
		}

		transition: background-color 100ms;

		&[aria-checked='true'] {
			background-color: var(--accent);

			* {
				opacity: 1;
			}
		}
	}
}
