#root {
	display: flex;
	width: 100%;
	height: 100vh;

	.server-sidebar-container {
		width: 64px;
		height: 100vh;
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		border-right: 1px solid var(--secondary-header);
		background-color: var(--background);
		overflow-y: scroll;
	}

	.channel-bar-container {
		padding: 4px 0;
		width: 232px;
		height: 100vh;
		display: flex;
		gap: 8px;
		flex-direction: column;
		border-right: 1px solid var(--secondary-header);
		background-color: var(--secondary-background);
		overflow-y: scroll;
	}

	.main-content-container {
		flex: 1;
		display: flex;
		flex-direction: column;
		height: 100vh;
		overflow: hidden;
		background-color: var(--primary-background);
	}
}
