.replyBase {
	display: flex;
	align-items: end;
	gap: 8px;
	margin-inline-start: 30px;
	margin-inline-end: 12px;
	font-size: 0.8em;
	user-select: none;
	color: var(--secondary-foreground);

	&::before {
		content: '';
		flex-shrink: 0;
		width: 22px;
		height: 10px;
		border-inline-start: 2px solid var(--message-box);
		border-top: 2px solid var(--message-box);
		align-self: flex-end;
	}

	.replyMeta {
		display: flex;
		gap: 8px;


		* {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
