.userButton {
	display: flex;
	margin-left: 12px;
	margin-right: 12px;
	border-radius: 6px;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	gap: 8px;
	cursor: pointer;

	&:hover {
		background-color: var(--hover);
	}

	.userDetail {
		display: flex;
		flex-direction: column;
		white-space: nowrap;
		overflow: hidden;

		.userPresence {
			color: var(--tertiary-foreground);
			font-size: 0.6875rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
