.markdownBase {
	word-wrap: break-word;
	white-space: pre-wrap;
	width: 100%;

	.emoji {
		width: var(--emoji-size);
		height: var(--emoji-size);
		object-fit: contain;
		margin: 0px 0.05em 0px 0.1em;
		vertical-align: -0.2em;
	}

	.mention {
		background-color: var(--secondary-background);
		display: flex;
		gap: 4px;
		max-width: fit-content;
		padding-left: 2px;
		padding-right: 6px;
		border-radius: 12px;
	}

	* {
		margin: 0;
	}

	table {
		border-collapse: collapse;
		th,
		td {
			padding: 6px;
			border: 1px solid var(--tertiary-foreground);
		}
	}

	ul,
	ol {
		display: flex;
		flex-direction: column;
		gap: 0px;
		padding-inline-start: 10px;
		list-style-position: inside;
	}

	blockquote {
		display: flex;
		margin: 2px 0px;
		padding: 2px 0px;
		background-color: var(--hover);
		border-radius: 6px;
		border-inline-start: 4px solid var(--tertiary-background);
	}

	code {
		background-color: var(--block);
		padding: 1px 4px;
		border-radius: 6px;
	}
}
