.replyBar {
	margin-top: 6px;
}

.messageContainer {
	display: flex;
	padding: 2px 16px;
	position: relative;
	gap: 12px;

	&.messageHead {
		margin-top: 6px;
	}

	&:hover {
		background-color: var(--hover);

		.messageControls {
			display: flex;
		}

		.messageInfo {
			time {
				display: block;
			}
		}
	}

	.messageInfo {
		width: 32px;
		display: flex;
		justify-content: center;
		font-size: 0.7em;

		time {
			user-select: none;
			display: none;
			margin-top: 2px;
			color: var(--tertiary-foreground);
		}
	}

	.messageControls {
		display: none;
		position: absolute;
		right: 1%;
		top: -18px;
		border-radius: var(--border-radius);
		background-color: var(--secondary-background);

		button {
			height: 32px;
			width: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0px;
			border: none;
			outline: none;
			border-radius: 0;
		}
	}

	.messageBase {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: start;

		.messageMeta {
			font-size: 0.75rem;
			gap: 8px;
			display: flex;
			align-items: center;

			.displayName {
				font-weight: 600;
				font-size: 0.9rem;
			}

			.username {
				font-size: 0.9em;
				opacity: 0.7;
			}

			.timestamp {
				font-size: 0.7em;
				opacity: 0.5;
			}
		}

		.messageContent {
			word-wrap: break-word;
			white-space: pre-wrap;
			width: 100%;

			* {
				margin: 0;
			}

			table {
				border-collapse: collapse;
				th, td {
					padding: 6px;
					border: 1px solid var(--tertiary-foreground);
				}
			}

			ul,
			ol {
				display: flex;
				flex-direction: column;
				gap: 0px;
				padding-inline-start: 10px;
				list-style-position: inside;
			}

			.editedText {
				margin-left: 2px;
				font-size: 0.7em;
				opacity: 0.5;
			}
		}
	}
}

.messageEditFormBase {
	display: flex;
	flex-direction: column;
	width: 100%;

	.messageEditForm {
		background-color: var(--message-box);
		border-radius: 6px;
		padding-left: 12px;
	}

	.caption {
		font-size: 0.7em;
		color: var(--secondary-foreground);
	}
}
