
.messageContainer {
	display: flex;
	padding: 4px 24px;
	position: relative;
	gap: 8px;

	&:hover {
		background-color: var(--hover);

		.messageControls {
			display: flex;
		}
	}

	.messageControls {
		display: none;
		position: absolute;
		right: 1%;
		top: -18px;
		border-radius: var(--border-radius);
		background-color: var(--secondary-background);

		button {
			height: 32px;
			width: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0px;
			border: none;
			outline: none;
			border-radius: 0;
		}
	}

	.messageBase {
		display: flex;
		flex-direction: column;

		.messageMeta {
			font-size: 0.75rem;
			gap: 8px;
			display: flex;
			align-items: center;

			.displayName {
				font-weight: 600;
				font-size: 0.9rem;
			}

			.username {
				font-size: 0.9em;
				opacity: 0.7;
			}

			.timestamp {
				font-size: 0.7em;
				opacity: 0.5;
			}

		}
		
		
		.messageContent {
			word-wrap: break-word;
			white-space: pre-wrap;
			
			.editedText {
				font-size: 0.7em;
				opacity: 0.5;
			}
		}
	}
}
