.textEmbed {
	background-color: var(--primary-header);
	border-radius: 6px;
	padding: 12px;
	
	.heading {
		display: flex;
		align-items: center;
		gap: 8px;

		.icon {
			object-fit: cover;
			user-select: none;
		}

		.title {
			font-size: 0.6em;
		}
	}

	.description {
		margin: 0;
	}
}
