.userButton {
	display: flex;
	border-radius: 6px;
	gap: 8px;
	cursor: pointer;

	.userDetail {
		display: flex;
		flex-direction: column;
		white-space: nowrap;
		overflow: hidden;

		.userPresence {
			color: var(--tertiary-foreground);
			font-size: 0.6875rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
