@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

:root {
	--accent: #3399ff;
	--background: #141414;
	--block: #2d2d2d;
	--foreground: #dddddd;
	--primary-background: #202020;
	--primary-header: #323232;
	--secondary-background: #1a1a1a;
	--secondary-foreground: #aaaaaa;
	--secondary-header: #262626;
	--message-box: #2d2d2d;
	--mention: #3399ff30;
	--tertiary-background: #3d3d3d;
	--tertiary-foreground: #666666;
	--status-online: #12ca74;
	--status-idle: #f1b040;
	--status-busy: #f53d42;
	--status-invisible: #80848e;
	--hover: rgba(255, 255, 255, 0.075);
	--selected: rgba(255, 255, 255, 0.150);
	--scrollbar-track: transparent;
	--scrollbar-thumb: #2469b2;
	--error: #d2373d;
	--scrollbar-thickness: 5px;
}

body {
	background-color: var(--background);
	caret-color: var(--accent);
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-size: 14px;
	overflow: hidden;
	margin: 0;
}

::-webkit-scrollbar {
	width: var(--scrollbar-thickness);
}

::-webkit-scrollbar-thumb {
	min-width: 30px;
	min-height: 30px;
	background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
	background-color: transparent;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

a {
	text-decoration: none;
	color: var(--accent);
}

hr {
	border-color: var(--secondary-header);
	width: calc(100% - 36px);
}

input,
textarea,
button {
	background-color: var(--secondary-background);
	color: var(--secondary-foreground);
	font-size: inherit;
	font-family: inherit;
	border: none;
	padding: 8px;
	border-radius: 6px;
	transition: background-color 100ms, outline 50ms;
}

button {
	cursor: pointer;
	margin: 0 8px;
	background-color: transparent;
	border: none;
	outline: none;

	&:focus {
		outline: none;
	}

	&:hover {
		background-color: transparent;
	}
}

input:hover,
textarea:hover {
	background-color: var(--hover);
}

input:focus {
	outline: var(--accent) solid 2px;
}

* {
	color: var(--foreground);
}

.tippy-box {
	background-color: black !important;
	border-radius: 6px !important;
}

.tippy-box[data-placement='top']>.tippy-arrow::before {
	border-top-color: black !important;
}

.tippy-box[data-placement='right']>.tippy-arrow::before {
	border-right-color: black !important;
}

.tippy-box[data-placement='bottom']>.tippy-arrow::before {
	border-bottom-color: black !important;
}

.tippy-box[data-placement='left']>.tippy-arrow::before {
	border-left-color: black !important;
}

details {
	margin-top: 8px;

	>summary {
		user-select: none;
		margin-left: 8px;
		cursor: pointer;
		font-size: 10px;
		font-weight: 600;
		cursor: pointer;
	}
}