.messageList {
	display: flex;
	flex-direction: column;
	justify-items: end;
	height: 100%;
	overflow: hidden scroll;
	padding-bottom: 16px;
}

.messageFormBase {
	display: flex;
	flex-direction: column;
	margin: 0px 16px;
	position: relative;

	.messageForm {
		display: flex;
		background-color: var(--message-box);
		border-radius: 6px;
		align-items: center;
		border-bottom: 2px solid var(--accent);
		margin-bottom: 24px;
	}

	.typingIndicators {
		display: flex;
		position: absolute;
		left: 16px;
		bottom: 1px;
		height: 24px;
		align-items: center;
	}
}

.attachmentPreviewBase {
	background-color: var(--message-box);
	margin: 0px 16px;

	& ~ .messageFormBase {
		.messageForm {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
	}

	.attachmentPreview {
		display: flex;
		gap: 8px;
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
		padding: 16px;
	}

	hr {
		border-color: hsl(228 6% 32.5% / 0.48);
		margin: initial 0;
	}
}
