.messageList {
	display: flex;
	flex-direction: column;
	justify-items: end;
	height: 100%;
	overflow: hidden scroll;
	padding-bottom: 16px;
}

.messageFormBase {
	display: flex;
	flex-direction: column;
	margin: 0px 16px;
	position: relative;

	.messageForm {
		display: flex;
		background-color: var(--message-box);
		border-radius: 6px;
		align-items: center;
		border-bottom: 2px solid var(--accent);
		margin-bottom: 24px;
	}
}

.attachmentPreviewBase {
	background-color: var(--message-box);
	margin: 0px 16px;

	& ~ .messageFormBase {
		.messageForm {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
	}

	.attachmentPreview {
		display: flex;
		gap: 4px;
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
		padding: 16px;

		.attachmentPreviewItem {
			display: flex;
			flex-direction: column;
			text-align: center;

			.attachmentIcon {
				position: relative;
				background-color: var(--primary-background);
				border-radius: 6px;
				height: 100px;
				min-width: 100px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0;
				margin: 0;

				img {
					height: 100px;
					min-width: 100px;
				}

				.attachmentCancelOverlay {
					position: absolute;
					display: flex;
					width: 100%;
					height: 100%;
					border-radius: 6px;
					align-items: center;
					justify-content: center;
					visibility: hidden;
					opacity: 0;
					transition: background-color 150ms, opacity 150ms;
				}

				&:hover {
					.attachmentCancelOverlay {
						visibility: visible;
						opacity: 1;
						background-color: rgba(0, 0, 0, 0.8);
					}
				}
			}

			.attachmentName {
				font-size: 0.8em;
				color: var(--secondary-foreground);
			}

			.attachmentSize {
				font-size: 0.6em;
				color: var(--tertiary-foreground);
			}
		}
	}

	hr {
		border-color: hsl(228 6% 32.5% / 0.48);
		margin: 0;
	}
}
