.messageList {
	display: flex;
	flex-direction: column;
	justify-items: end;
	height: 100%;
	overflow-y: scroll;
	padding-bottom: 16px;
}

.messageForm {
	display: flex;
	background-color: var(--message-box);
	border-radius: 6px;
	align-items: center;
	border-bottom: 2px solid var(--accent);
	margin-bottom: 24px;
	padding: 0 16px;
}

.messageFormBase {
	display: flex;
	flex-direction: column;
	margin: 0px 16px;
	position: relative;
}
