.channelItem {
	margin-right: 16px;
	gap: 2px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	display: flex;
	align-items: center;
	transition: background-color 150ms, outline 150ms;
	min-height: 32px;
	color: inherit;
	outline-style: inherit;
	outline-color: var(--accent);
	outline-width: inherit;
	
	:global(img),
	:global(svg) {
		width: 24px;
		height: 24px;
		padding: 4px;
	}
	
	&[data-selected='true'],
	&:hover,
	&:focus {
		background-color: var(--hover);
	}
	
	&[data-selected='true'], &:focus {
		outline-style: solid;
	}

	:global(*) {
		color: var(--tertiary-foreground);
	}

	&[data-selected='true'],
	&:hover,
	&:focus {
		:global(*) {
			color: var(--foreground);
		}
	}

	&::before {
		content: ' ';
		position: relative;
		left: 0;
		width: 4px;
		height: 0px;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		background-color: var(--accent);
		transition: height 150ms;
	}

	&[data-unread='true']::before {
		height: 4px;
	}

	&:hover::before,
	&:focus::before {
		height: 10px;
	}

	&[data-selected='true']::before {
		height: 16px;
	}
}
